@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v23/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	background-image: url('images/MountainBackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #e2eaf3;
	
	font-family: 'Montserrat', sans-serif;
	color: #414d61;
}

button {
	font-family: 'Montserrat', sans-serif;
	color: #414d61;
	
	background-color: transparent;
	border-color: transparent;
	border-radius: 0.75em;
}

button:hover {
	background-color: #aabbcf;
	border-radius: 0.75em;
	transition: 0.25s;
}

h2 {
	margin-left: auto;
	margin-right: auto;
}

input:focus, textarea:focus {
	outline-style: solid;
	outline-color: #6f617e;
	outline-width: 1px;
}

#Top {
	display: block;
	margin-bottom: 0.5em;
}

input, textarea {
	font-size: medium;
	font-family: 'Montserrat', sans-serif;
	background-color: azure;

	border-style: solid;
	border-color: #414d61;
	border-width: 1px;
	border-radius: 0.75em;
}

textarea {
	resize: none;
}

#FeedPost {
	padding: 1.5em;
	background-color: azure;
	white-space: pre-line;

	border-style: solid;
	border-color: #414d61;
	border-width: 1px;
	border-radius: 0.75em;

	margin-bottom: 2em;
}

#Feed {
	text-align:center;
}

#PostBody {
	text-align:justify;
}

#PostedDateText {
	color: #6f617e;
	font-size: small;
}

#EmailInput, #UserInput, #PassInput, #ProfileInput {
	height: 2em;
	width: 16em;
	padding-left: 0.5em;
	margin-bottom: 0.75em;
}

#PostBodyInput, #PostTitleInput {
	height: 16em;
	width: 24em;
	padding-left: 0.5em;
	margin-bottom: 0.75em;
}

#PostTitleInput {
	height: 2em;
}

#Login, #Register, #AddPost, #Profile {
	text-align: center;
}

#LogLabel {
	display: inline-block;
	width: 9em;
}

.PrivateMessageCard {
	margin-top: 0.75em;
}

.MainbarButton {
	font-size: 18px;
	background-color: azure;
	border-style: solid;
	border-color: #414d61;
	border-width: 1px;

	padding: 0.33em;
	padding-left: 1em;
	padding-right: 1em;
}

.FriendButton {
	width: 100%;
	font-size: 16px;

	border-style: solid;
	border-color: #414d61;
	border-width: 1px;

	padding: 0.33em;
	padding-left: 1em;
	padding-right: 1em;

	margin-top: 0.75em;
}

#SearchInput {
	height: 2em;
	width: 24em;

	background: url('images/Search.png') no-repeat 0.35em 0.35em;
	background-color: azure;
	background-size: 1.5em;
	padding-left: 2em;
	
	margin-left: 2em;

	border-style: solid;
	border-color: #414d61;
	border-width: 1px;
	border-radius: 0.75em;
}

#ProfilePic {
	text-align: center;

	object-fit: cover;
	width: 20em;
	height: 20em;
	border-radius: 50%;
}

#Bottom {
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
}

#FriendbarMain, #FriendbarInner {
	margin-left: 0.25em;
	
	display: flex;
	flex-direction: column;
	justify-content: top;
}

#BodyMain {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#SidebarMain {
	margin-right: 0.25em;
	
	display: flex;
	flex-direction: column;
	justify-content: top;
}

.BackgroundElement {
	padding: 0.5em;
	background-color: #e2eaf3;
	border-style: solid;
	border-color: #414d61;
	border-width: 1px;
	border-radius: 0.75em;
}

#LoginButton, #RegisterButton, #LogoffButton {
	font-size: 16px;
	padding: 0.25em;
}

#FirstButton {
	margin-top: 0em;
}

.SidebarButton {
	font-size: 24px;
	padding: 0.5em;
	margin-top: 0.75em;
}

#ChatTab {
	overflow-y: scroll;
	overflow-x: hidden;

	height: 25em;
}

.MessageInputTextArea:focus {
	outline: none;
}

.MessageInputField {
	margin-top: 0.75em;
	width: 100%;
}

.CloseChatButton {
	background: url('images/Close.png') no-repeat;
	background-color: #e2eaf3;

	width: 2em;
	height: 2em;

	position: absolute;
	right: 0;
	z-index: 10;
}