.ChatTab {
	overflow-y: scroll;
	overflow-x: hidden;

	height: 25em;
}

.CloseChatButton {
	background: url('../../images/Close.png') no-repeat;
	background-color: var(--backgroundClr);

	width: 2em;
	height: 2em;

	position: absolute;
	right: 0;
	z-index: 10;
}