<div id="Comments">
    <app-post [post]="post" [userinfo]="userinfo" [rootComponent]="rootComponent" [commentsEnabled]="false"></app-post>
    <h2>Comments</h2>
    <div id="CommentsFeed">
        <h3 *ngIf="commentsList.length == 0">No comments.</h3>
        <mat-card *ngFor="let comment of commentsList" class="CommentCard">
            <mat-card-subtitle>{{comment.author}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{comment.content}}</p>
            </mat-card-content>
            <mat-card-subtitle>Sent {{comment.date}}</mat-card-subtitle>
            <mat-card-actions align="start">
                <button class="CommentButton" (click)="addReply(comment.author || '');" mat-button>
                    <mat-icon class="BodyIcon">reply</mat-icon>
                    Reply
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <mat-form-field class="MessageInputField" hintLabel="Max 2000 characters" appearance="fill">
        <mat-label>Type your comment.</mat-label>
        <textarea matInput #input maxlength="2000" class="MessageInputTextArea" placeholder="Comment here." (keypress)="noJsonSymbols($event)" [(ngModel)]="commentField"></textarea>
        <mat-hint align="end">{{commentField.length}}/2000</mat-hint>
    </mat-form-field>
    <button class="FriendButton" (click)="postComment()">
        <mat-icon class="BodyIcon">send</mat-icon>
        {{userinfo.session == '' ? 'Login to comment' : 'Add comment'}}
    </button>
</div>