<div id="AddPost">
    <h2>Add a new post</h2>
    <h3>Title</h3>
    <input type="text" placeholder="Enter your post title" id="PostTitleInput" (keypress)="noJsonSymbols($event)" [(ngModel)]="postTitle" autocomplete="off">
    <br>
    <h3>Body</h3>
    <textarea placeholder="Enter your post content" id="PostBodyInput" (keypress)="noJsonSymbols($event)" [(ngModel)]="postBody" (ngModelChange)="updateCharCounter()" autocomplete="off"> </textarea>
    <br>
    Characters left: {{postCharLeft}}
    <br>
    <button class="MainbarButton" id="PostMainButton" (click)="addPost()">Post</button>
    <br><br>
    <b>{{formError}}</b>
</div>