.FeedPost {
	padding: 1.5em;
	margin-bottom: 2em;
	background-color: azure;
	white-space: pre-line;

	border-style: solid;
	border-color: var(--textClr);
	border-width: 1px;
	border-radius: 0.75em;

	max-height: 20em;
	overflow-y: auto;
	overflow-x: hidden;
}

.FeedPost.Profile {
	margin-bottom: 0;
}

.PostBody, .PostTitle {
	text-align: justify;
	word-break: break-all;
}

.PostedDateText {
	color: #6f617e;
	font-size: small;
}

.PostImage {
	max-width: 100%;
	min-height: 300px;
	min-width: 300px;

	border-radius: 0.75em;

	display: block;
	margin-left: auto;
	margin-right: auto;
}