<div [class]="postClass">
    <h3 class="PostTitle">{{post.title}} by {{post.author}}</h3>
    <p class="PostBody">{{post.body}}</p>

    <button *ngIf="post.authorID && userinfo.ID && post.authorID == userinfo.ID" class="TopbarButton" (click)="removePost($event,post.postID || -1,profilePost)">
        <mat-icon class="BodyIcon">delete</mat-icon>
        Remove post
    </button>
    <button class="TopbarButton" *ngIf="commentsEnabled" (click)="selectPost(post);">
        <mat-icon class="BodyIcon">comment</mat-icon>
        View comments
    </button>
    <button *ngIf="userinfo.ID" class="TopbarButton" (click)="likePost(post,!post.userLiked)">
        <mat-icon [class]="post.likes && post.userLiked ? 'material-icons' : 'material-icons-outlined'">thumb_up</mat-icon>
        {{post.likes && post.userLiked ? 'Remove like' : 'Like'}}
    </button>

    <div class="PostedDateText">{{post.likes ? post.likes : 0}} {{post.likes && post.likes == 1 ? 'like.' : 'likes.'}}</div>
    <div class="PostedDateText">Posted {{post.date}}</div>
</div> 