<div id="Profile">
    <img [src]="selectedProfile.avatarPath || 'assets/defaultProfile.png'" class="ProfilePic">
    <h2>{{toTitleCase(selectedProfile.firstName || "") + " " + toTitleCase(selectedProfile.lastName || "")}}</h2>
    <p>{{selectedProfile.profileDesc || "No profile description."}}</p>
    <br>
    <button *ngIf="userinfo.friends" class="TopbarButton" (click)="rootComponent.changeFriendStatus(selectedProfile,!userinfo.friends.includes(selectedProfile.ID || -1));" >
        <mat-icon class="BodyIcon">{{userinfo.friends.includes(selectedProfile.ID || -1) ? 'person_remove' : 'person_add'}}</mat-icon>
        {{userinfo.friends.includes(selectedProfile.ID || -1) ? 'Remove friend' : 'Add friend'}}
    </button>
    <button *ngIf="userinfo.blocked && selectedProfile.ID" class="TopbarButton" (click)="rootComponent.changeBlockStatus(selectedProfile,userinfo.blocked.indexOf(selectedProfile.ID) == -1);" >
        <mat-icon [class]="userinfo.blocked.indexOf(selectedProfile.ID) != -1 ? 'material-icons' : 'material-icons-outlined'">block</mat-icon>
        {{userinfo.blocked.indexOf(selectedProfile.ID) == -1 ? 'Block' : 'Unblock'}}
    </button>
    <h2>Posts</h2>
    <mat-paginator [length]="postList.length" [pageSize]="1" hidePageSize="true" (page)="pageEvent = $event" aria-label="Select page">
    </mat-paginator>
    <br>
    <div *ngIf="pageEvent">
        <div *ngFor="let ind of createFakeArray(pageEvent.pageSize)">
            <app-post [postClass]="'FeedPost Profile'" [profilePost]="true" *ngIf="ind < postList.length" [post]="postList[pageEvent.pageIndex * pageEvent.pageSize + ind]" [userinfo]="userinfo" [rootComponent]="rootComponent"></app-post>
        </div>
    </div>
</div>