<div class="Main">
	<div id="Top">
		<div id="Topbar" class="BackgroundElement">
			<button *ngIf="userinfo.session == ''" class="TopbarButton" id="LoginButton" (click)="setMain('login');">Login</button>
			<button *ngIf="userinfo.session == ''" class="TopbarButton" id="RegisterButton" (click)="setMain('register');">Register</button>

			<b *ngIf="userinfo.session != ''">Logged in as {{userinfo.username}} </b>
			<button *ngIf="userinfo.session != ''" class="TopbarButton" id="LogoffButton" (click)="logoff();">Log off</button>

			<input type="text" placeholder="Search" id="SearchInput" [(ngModel)]="search" (ngModelChange)="searchUpdate()" (keyup.enter)="selectProfile();" matInput [matAutocomplete]="auto">
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				<mat-option *ngFor="let option of results" [value]="option.username">
					<img class="ProfilePic Thumb" [src]="option.thumbPath || 'assets/defaultProfile.png'">
					{{option.firstName + ' ' + option.lastName + ' (' + option.username + ')'}}
				</mat-option>
			</mat-autocomplete>
		</div>
	</div>
	<div id="Bottom">
		<div id="SidebarMain" class="BackgroundElement" style="height: 1000em;" #backgroundDiv>
			<h2>Navigation</h2>
			<button class="SidebarButton" id="FirstButton" (click)="setMain('feed',undefined,true,true);">
				<mat-icon class="SidebarIcon">home</mat-icon>
				Public Feed
			</button>

			<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="setMain('feed');">
				<mat-icon class="SidebarIcon">feed</mat-icon>
				Personal Feed
			</button>

			<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="setMain('post');">
				<mat-icon class="SidebarIcon">post_add</mat-icon>
				Add Post
			</button>

			<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="selectProfile(userinfo);">
				<mat-icon class="SidebarIcon">account_circle</mat-icon>
				My profile
			</button>

			<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="setMain('ownprofile');">
				<mat-icon class="SidebarIcon">edit</mat-icon>
				Edit profile
			</button>

			<button class="SidebarButton" (click)="setMain('about');">
				<mat-icon class="SidebarIcon">help</mat-icon>
				About / Contacts
			</button>
		</div>
		<div id="BodyMain" class="BackgroundElement" style="height: 1000em;" #backgroundDiv>
			<app-login *ngIf="bodyHTML=='login'" [rootComponent]="this" [friendsComponent]="friendsComponent.first"></app-login>
			<app-register *ngIf="bodyHTML=='register'"></app-register>
			<app-new-post *ngIf="bodyHTML=='post'"></app-new-post>
			<app-edit-profile *ngIf="bodyHTML=='ownprofile'" [userinfo]="userinfo" [rootComponent]="this"></app-edit-profile>
			<app-profile *ngIf="bodyHTML=='profile'" [userinfo]="userinfo" [rootComponent]="this"></app-profile>
			<app-comments *ngIf="bodyHTML=='comments'" [post]="selectedPost" [userinfo]="userinfo" [rootComponent]="this"></app-comments>
			<div *ngIf="bodyHTML=='feed'" id="Feed">
				<h2>{{publicFeed ? 'Public Feed' : 'Personal Feed'}}</h2>
				<div id="FeedInner">
					<h3 *ngIf="postList.length == 0">Your feed is empty, add some friends to see their posts here!</h3>
					<app-post *ngFor="let post of postList;" [post]="post" [userinfo]="userinfo" [rootComponent]="this"></app-post>
				</div>
			</div>
			<div *ngIf="bodyHTML=='about'" id="About">
				<h2>About</h2>
				<p>
					Social media site webapp, created by Gustas Janušauskas.<br>
					Contact me at <a href="mailto:gustasjanusauskas@gmail.com">gustasjanusauskas@gmail.com</a><br>
					Gitlab: <a href="https://gitlab.com/GustasJanusauskas">https://gitlab.com/GustasJanusauskas</a><br>
					<br>
					Project repo: <a href="https://gitlab.com/GustasJanusauskas/social-media-site">https://gitlab.com/GustasJanusauskas/social-media-site</a><br>
					
				</p>
			</div>
		</div>
		<div id="FriendbarMain" class="BackgroundElement" style="height: 1000em;" #backgroundDiv>
			<app-friends [userinfo]="userinfo" [rootComponent]="this"></app-friends>
		</div>
	</div>
</div>