<!DOCTYPE HTML>
<html>
	<head>
		<title> Main UI </title>
	</head>
	<body>
		<div class="Main">
			<div id="Top">
				<div id="Topbar" class="BackgroundElement">
					<button *ngIf="userinfo.session == ''" class="TopbarButton" id="LoginButton" (click)="setMain($event,'login')">Login</button>
					<button *ngIf="userinfo.session == ''" class="TopbarButton" id="RegisterButton" (click)="setMain($event,'register')">Register</button>

					<b *ngIf="userinfo.session != ''">Logged in as {{loggedInAs}} </b>
					<button *ngIf="userinfo.session != ''" class="TopbarButton" id="LogoffButton" (click)="logoff($event)">Log off</button>

					<input type="text" placeholder="Search" id="SearchInput" autocomplete="off">
				</div>
			</div>
			<div id="Bottom">
				<div id="SidebarMain" class="BackgroundElement">
					<h2>Navigation</h2>
					<button class="SidebarButton" id="FirstButton" (click)="setMain($event,'feed')">Feed</button>
					<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="setMain($event,'post')">Add Post</button>
					<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="setMain($event,'ownprofile')">Edit profile</button>
					<button class="SidebarButton">Settings</button>
				</div>
				<div id="BodyMain" class="BackgroundElement">
					<div *ngIf="bodyHTML=='login'" id="Login">
						<h2>Log in</h2>
						<label id="LogLabel">Username/Email:</label> <input type="text" placeholder="Enter your username or email" id="UserInput" [(ngModel)]="username" autocomplete="off">
						<br>
						<label id="LogLabel">Password:</label> <input type="password" placeholder="Enter your password" id="PassInput" [(ngModel)]="password" autocomplete="off">
						<br>
						<button class="MainbarButton" id="LoginMainButton" (click)="login($event)">Login</button>
						<br>
						<b>{{formError}}</b>
					</div>
					<div *ngIf="bodyHTML=='register'" id="Register">
						<h2>Create a new account</h2>
						<label id="LogLabel">Email:</label> <input type="text" placeholder="Enter your email adress" id="EmailInput" [(ngModel)]="email" autocomplete="off">
						<br>
						<label id="LogLabel">Username:</label> <input type="text" placeholder="Enter username" id="UserInput" [(ngModel)]="username" autocomplete="off">
						<br>
						<label id="LogLabel">Password:</label> <input type="password" placeholder="Enter password" id="PassInput" [(ngModel)]="password" autocomplete="off">
						<br>
						<button class="MainbarButton" id="RegisterMainButton" (click)="register($event)">Register</button>
						<br>
						<b>{{formError}}</b>
					</div>
					<div *ngIf="bodyHTML=='post'" id="AddPost">
						<h2>Add a new post</h2>
						<h3>Title</h3>
						<input type="text" placeholder="Enter your post title" id="PostTitleInput" [(ngModel)]="postTitle" autocomplete="off">
						<br>
						<h3>Body</h3>
						<textarea placeholder="Enter your post content" id="PostBodyInput" [(ngModel)]="postBody" (ngModelChange)="updateCharCounter($event)" autocomplete="off"> </textarea>
						<br>
						Characters left: {{postCharLeft}}
						<br>
						<button class="MainbarButton" id="PostMainButton" (click)="addPost($event)">Post</button>
						<br>
						<b>{{formError}}</b>
					</div>
					<div *ngIf="bodyHTML=='ownprofile'" id="Profile">
						<h2>Edit profile</h2>

						<h3>Change profile image</h3>
						<input class="FileUpload" type="file" (change)="onAvatarChange($event)">
						<!-- <button class="MainbarButton">Upload image</button> -->

						<h3>Personal info</h3>
						<label id="LogLabel">First name:</label> <input type="text" placeholder="Edit your first name" id="ProfileInput" [(ngModel)]="userinfo.firstName" autocomplete="off">
						<br>
						<label id="LogLabel">Last name:</label> <input type="text" placeholder="Edit your last name" id="ProfileInput" [(ngModel)]="userinfo.lastName" autocomplete="off">

						<h3>Profile description</h3>
						<textarea placeholder="Enter your profile description" id="PostBodyInput" [(ngModel)]="userinfo.profileDesc" (ngModelChange)="updateCharCounter($event,'profile')" autocomplete="off"> </textarea>
						<br>
						Characters left: {{profileDescCharLeft}}
						<br>
						<button class="MainbarButton" id="PostMainButton" [disabled]="!updateProfileEnabled" (click)="updateProfile($event)">{{updateProfileEnabled ? "Update profile" : "Uploading image.." }}</button>
						<br>
						<b>{{formError}}</b>
					</div>
					<div *ngIf="bodyHTML=='feed'" id="Feed">
						<h2>Your Feed</h2>
						<div id="FeedPost" *ngFor="let post of postList;">
							<h3 id="PostTitle">{{post.title}} by {{post.author}}</h3>
							<p id="PostBody">{{post.body}}</p>
							<div id="PostedDateText">Posted {{post.date}}</div>
						</div> 
					</div>
				</div>
				<div id="FriendbarMain" class="BackgroundElement">
					<h2>Friends</h2>
					<div id="FriendbarInner">
						<li *ngFor="let friend of friendList;">{{friend}}</li> 
					</div>
				</div>
			</div>
		</div>
	</body>
</html>