<div class="Main">
	<div id="Top">
		<div id="Topbar" class="BackgroundElement">
			<button *ngIf="userinfo.session == ''" class="TopbarButton" id="LoginButton" (click)="setMain('login');">Login</button>
			<button *ngIf="userinfo.session == ''" class="TopbarButton" id="RegisterButton" (click)="setMain('register');">Register</button>

			<b *ngIf="userinfo.session != ''">Logged in as {{userinfo.username}} </b>
			<button *ngIf="userinfo.session != ''" class="TopbarButton" id="LogoffButton" (click)="logoff($event);">Log off</button>

			<input type="text" placeholder="Search" id="SearchInput" [(ngModel)]="search" (ngModelChange)="searchUpdate($event)" (keyup.enter)="selectProfile();" matInput [matAutocomplete]="auto">
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				<mat-option *ngFor="let option of results" [value]="option.username">
					<img class="ProfilePic Thumb" [src]="option.thumbPath || 'assets/defaultProfile.png'">
					{{option.firstName + ' ' + option.lastName + ' (' + option.username + ')'}}
				</mat-option>
			</mat-autocomplete>
		</div>
	</div>
	<div id="Bottom">
		<div id="SidebarMain" class="BackgroundElement" style="height: 1000em;" #backgroundDiv>
			<h2>Navigation</h2>
			<button class="SidebarButton" id="FirstButton" (click)="setMain('feed');">
				<mat-icon class="SidebarIcon">home</mat-icon>
				Feed
			</button>

			<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="setMain('post');">
				<mat-icon class="SidebarIcon">post_add</mat-icon>
				Add Post
			</button>

			<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="selectProfile(userinfo);">
				<mat-icon class="SidebarIcon">account_circle</mat-icon>
				My profile
			</button>
			<button *ngIf="userinfo.session != ''" class="SidebarButton" (click)="setMain('ownprofile');">
				<mat-icon class="SidebarIcon">edit</mat-icon>
				Edit profile
			</button>
		</div>
		<div id="BodyMain" class="BackgroundElement" style="height: 1000em;" #backgroundDiv>
			<div *ngIf="bodyHTML=='login'" id="Login">
				<h2>Log in</h2>
				<label class="LogLabel">Username/Email:</label> <input type="text" placeholder="Enter your username or email" id="UserInput" [(ngModel)]="username" autocomplete="off">
				<br>
				<label class="LogLabel">Password:</label> <input type="password" placeholder="Enter your password" id="PassInput" [(ngModel)]="password" autocomplete="off">
				<br>
				<button class="MainbarButton" id="LoginMainButton" (click)="login($event)">Login</button>
				<br><br>
				<b>{{formError}}</b>
			</div>
			<div *ngIf="bodyHTML=='register'" id="Register">
				<h2>Create a new account</h2>
				<label class="LogLabel">Email:</label> <input type="text" placeholder="Enter your email adress" id="EmailInput" [(ngModel)]="email" autocomplete="off">
				<br>
				<label class="LogLabel">Username:</label> <input type="text" placeholder="Enter username" id="UserInput" [(ngModel)]="username" autocomplete="off">
				<br>
				<label class="LogLabel">Password:</label> <input type="password" placeholder="Enter password" id="PassInput" [(ngModel)]="password" autocomplete="off">
				<br>
				<button class="MainbarButton" id="RegisterMainButton" (click)="register($event)">Register</button>
				<br><br>
				<b>{{formError}}</b>
			</div>
			<app-new-post *ngIf="bodyHTML=='post'"></app-new-post>
			<app-edit-profile *ngIf="bodyHTML=='ownprofile'" [userinfo]="userinfo" [rootComponent]="this"></app-edit-profile>
			<app-profile *ngIf="bodyHTML=='profile'" [selectedProfile]="selectedProfile" [userinfo]="userinfo" [rootComponent]="this"></app-profile>
			<div *ngIf="bodyHTML=='feed'" id="Feed">
				<h2>{{userinfo.session == '' ? 'Feed' : 'Your Feed'}}</h2>
				<div id="FeedInner">
					<app-post *ngFor="let post of postList;" [post]="post" [userinfo]="userinfo" [rootComponent]="this"></app-post>
				</div>
			</div>
			<app-comments *ngIf="bodyHTML=='comments'" [post]="selectedPost" [userinfo]="userinfo" [rootComponent]="this"></app-comments>
		</div>
		<div id="FriendbarMain" class="BackgroundElement" style="height: 1000em;" #backgroundDiv>
			<app-friends [userinfo]="userinfo" [rootComponent]="this"></app-friends>
		</div>
	</div>
</div>