<!DOCTYPE HTML>
<html>
	<head>
		<title> Main UI </title>
	</head>
	<body>
		<div class="Main">
			<div id="Top">
				<div id="Topbar" class="BackgroundElement">
					<button class="TopbarButton" id="LoginButton">Login</button>
					<button class="TopbarButton" id="RegisterButton">Register</button>
					<input type="text" placeholder="Search" id="SearchInput" autocomplete="off">
				</div>
			</div>
			<div id="Bottom">
				<div id="SidebarMain" class="BackgroundElement">
					<h2>Navigation</h2>
					<button class="SidebarButton" id="FirstButton">Feed</button>
					<button class="SidebarButton">Your profile</button>
					<button class="SidebarButton">Settings</button>
				</div>
				<div id="BodyMain" class="BackgroundElement">
					{{bodyHTML}}
				</div>
				<div id="FriendbarMain" class="BackgroundElement">
					<h2>Friends</h2>
				</div>
			</div>
		</div>
	</body>
</html>